<!-- <router-outlet></router-outlet> -->

<img class="logo" src="assets/logo.png" width="180px" height="64px">
<div class="titulo" widht="1,184px" height="44px">
  <h1 class="title">Lista de Usuários</h1>
  <p-button class="btn-novo-usuario" (click)="showDialog()" label="Novo usuário" icon="pi pi-plus-circle"/>
</div>

<div class="table-container">
  <p-table [value]="usuarios" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th> </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td class="icone-trash">
              <p-button (click)="deleteUsuario(usuario.id)" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger "/>
            </td>
        </tr>
        <p-toast/>
    </ng-template>
</p-table>
</div>
<!--<div class="modal"> -->
  <p-dialog header="Cadastro de usuário" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem', padding: '10px'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <p-divider />
      <div class="cad-nome">
          <label for="Nome" class="font-semibold w-6rem">Nome</label><br />
          <input class="nome" type="text" pInputText [(ngModel)]="nome" />
      </div>
      <div class="cad-email">
          <label for="E-mail" class="font-semibold w-6rem">E-mail</label><br />
          <input class="email" type="text" pInputText [(ngModel)]="email" /><br />
      </div>
      <p-divider />
      <div class="btn-cadastro">
          <p-button label="Cancelar" class="cancelar" [text]="true" [raised]="true" icon="pi pi-times" severity="secondary" (click)="cancelar()" />
        <p-button label="Confirmar" class="confirmar" icon="pi pi-check" (click)="enviar()" [disabled]=" email == '' || nome == '' "  />
      </div>
  </p-dialog>

